@import url("./assets/fonts/hauora/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Hauora;
}

input[type="range"]::-webkit-slider-thumb {
    @apply border-0 outline-0 size-4 rounded-full appearance-none bg-gray-600 dark:bg-white;
    
}

input[type="range"]::-moz-range-thumb {
    @apply border-0 outline-0 size-4 rounded-full appearance-none bg-gray-600 dark:bg-white;
}